* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family:  Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
}

header {
  height: 20%;
  padding: 5px 20px;
  color: lightgray;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

h1 {
  color: #66B3EA;
  font-size: 18px;
  font-family: cursive;
  margin: 0 20px 0 0;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.container {
  color: lightgray;
  height: 80%;
  position: relative;
}

.options-box {
  height: 100%;
  margin: 0 5px;
  padding: 5px 10px 10px;    /* top horizontal bottom */
  width: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

#map {
  margin: 5px;
  bottom: 5px;
  top: 5px;
  left: 310px;
  position: absolute;
  right: 5px;
}

#keyword-box,
#button-box {
  margin: 10px;
}

.button-group {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.button-pair {
  flex: 1 1;
  margin-right: 12px;
  padding: 5px 0;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.location-pair {
  padding: 5px 0;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.location-button {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.location-label {
  margin-right: 20px;
  font-family: cursive;
}

.filter-prompt {
  font-size: 14px;
  margin-bottom: 5px;
}

.filter-button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.flex-filter-buttons {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#day-button {
  background-color: yellow;
}

#week-button {
  background-color: orange;
}

#write-button {
  background-color: #7BB718;
}

#share-button {
  background-color: #FF2ECB;
}

#learn-button {
  background-color: #2292DC;
}

#social-button {
  background-color: #D62828;
}

#book-button {
  background-color: #8E56A8;
}

#all-button {
  background-color: #C9C9C9;
}

input {
  font-size: 14px;
}

#filtered-list {
  flex-grow: 1;
  overflow: scroll;
}

#locations-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.location-items {
  color: white;
  margin: 5px 0;
}

.list-header {
  padding: 2px;
  margin: 3px 0;
  text-align: center;
  font-size: 12pt;
}

.list-item {
  padding: 5px;
  margin: 2px 5px;
  font-size: 11pt;
  line-height: 110%;
}

.item-header {
  font-weight: bold;
  text-decoration: underline;
}

.nextTwentyFour {
  border: 4px solid yellow;
}

.hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}


/* Map Info Window CSS */

.map-box {
  font-size: 12px;
  color: black;
  max-width: 250px;
}
.map-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.map-item {
  margin: 5px 0 0 0;
}

.map-book-container {
  margin: 5px;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.map-book-image {
  width: 80px;
}

/* Book API CSS */

.flex-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.flex-form-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-form-label {
  flex: 1 1 auto;
  font-size: 11pt;
  line-height: 150%;
  color: #525454;
}

.flex-form-input {
  flex-grow: 6;
}

#viewerCanvas {
  width: 250px;
  height: 350px;
}

#what-to-read {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  border: 2px solid #D0D7D9;
}

.read-header {
  margin: 2px 0;
  font-size: 12pt;
  line-height: 110%;
  color: #525454;
}

.flex-read-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.read-info {
  width: 68%;
  font-size: 11pt;
  line-height: 110%;
  color: #525454;
}

.read-info-img {
  padding: 5px;
  width: 70px;
}
